  a{
    text-decoration: none !important;
  }
  /* =================== Listing Form Start ================== */
  .listing-form-wrapper #heading {
    text-transform: uppercase;
    color: #cb5644;
    font-weight: normal
  }
  
  .listing-form-wrapper #msform {
    text-align: center;
    position: relative;
    margin-top: 20px
  }
  
  .listing-form-wrapper #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
  }
  
  .listing-form-wrapper .form-card {
    text-align: left;
    padding: 0 20px;
  }
  
  .listing-form-wrapper #msform fieldset:not(:first-of-type) {
    display: none
  }
  
  .listing-form-wrapper #msform input,
  .listing-form-wrapper #msform textarea {
    padding: 6px 15px 6px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    /* margin-bottom: 25px; */
    /* margin-top: 2px; */
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    /* background-color: #ECEFF1; */
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .listing-form-wrapper #msform input:focus,
  .listing-form-wrapper #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #cb5644;
    outline-width: 0
  }
  
  .listing-form-wrapper #msform .action-button {
    width: 100px;
    background: #cb5644;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 6px 5px;
    margin: 10px 21px 10px 5px;
    float: right;
    border-radius: 40px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  }
  
  .listing-form-wrapper #msform .action-button:hover,
  .listing-form-wrapper #msform .action-button:focus {
    background-color: #ffff;
    color: #cb5644;
  }
  
  .listing-form-wrapper #msform .action-button-previous {
    width: 100px;
    background: #919191;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 6px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
    border-radius: 40px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  }
  
  .listing-form-wrapper #msform .action-button-previous:hover,
  .listing-form-wrapper #msform .action-button-previous:focus {
    background-color: #ffff;
    color: #cb5644;
  }
  
  .listing-form-wrapper .card {
    z-index: 0;
    border: none;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .listing-form-wrapper .fs-title {
    font-size: 25px;
    color: #cb5644;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
  }
  
  .listing-form-wrapper .purple-text {
    color: #cb5644;
    font-weight: normal
  }
  
  .listing-form-wrapper .steps {
    font-size: 25px;
    color:#cb5644;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
  }
  
  .listing-form-wrapper .fieldlabels {
    color: black;
    text-align: left
  }
  
  .listing-form-wrapper #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
  }
  
  .listing-form-wrapper #progressbar .active {
    color: #cb5644
  }
  
  .listing-form-wrapper #progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 12.5%;
    float: left;
    position: relative;
    font-weight: 400
  }
  
  .listing-form-wrapper #progressbar #account:before {
    font-family: FontAwesome;
    content: "\f05a"
  }
  
  .listing-form-wrapper #progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f15c"
  }
  
  .listing-form-wrapper #progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f19c"
  }
  
  .listing-form-wrapper #progressbar #Features:before {
    font-family: FontAwesome;
    content: "\f085"
  }
  
  .listing-form-wrapper #progressbar #Photos:before {
    font-family: FontAwesome;
    content: "\f03e"
  }
  .listing-form-wrapper #progressbar #Prices:before {
    font-family: FontAwesome;
    content: "\f3d1"
  }
  .listing-form-wrapper #progressbar #urls:before {
    font-family: FontAwesome;
    content: "\f0c1"
  }
  
  .listing-form-wrapper #progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
  }
  
  .listing-form-wrapper #progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
  }
  
  .listing-form-wrapper #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
  }
  
  .listing-form-wrapper #progressbar li.active:before,
  .listing-form-wrapper #progressbar li.active:after {
    background: #cb5644;
  }
  
  .listing-form-wrapper .progress {
    height: 20px
  }
  
  .listing-form-wrapper .progress-bar {
    background-color: #cb5644 !important;
  }
  
  .listing-form-wrapper .fit-image {
    width: 100%;
    object-fit: cover
  }
  .listing-form-wrapper .insurance_card_active{
    border: 2px solid #cb5644 !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  
  .listing-form-wrapper #msform input[type='checkbox'] { 
    /* width: auto !important; */
    width: 30px ;
  }
  ::placeholder{
    color: grey;
  }
  .dropzone{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
  }
  .priceing-checkhide-div{
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 12px;
      margin: 10px 0;
      border-top: 2px solid #cb5644;
  }
  .imageinfo-preview-div{
    position: relative;
  }
  .imageinfo-preview-div i{
    position: absolute;
    right: 0px;
    color: #e51f1f;
    font-size: 22px;
    cursor: pointer;
  }
  /* =================== Listing Form Ends ================== */
  
    
  /* =================For React Paginate Starts ======================= */
  
  #react-paginate ul {
    display: inline-block;
    float: right;
    background-color: white;
    padding: 0;
  }
  
  #react-paginate li {
    display: inline-block;
    border: 1px solid rgb(224, 224, 224);
    color: #000;
    cursor: pointer;
    /* margin-right: 3px; */
    border-radius: 5px;
    /* margin-bottom: 5px; */
  }
  
  #react-paginate li a {
      padding: 2px 9px;
      display: inline-block;
      color: #000;
      outline: none;
  }
  
  #react-paginate li.selected {
    background:#cb5644;
    outline: none;
  }
  #react-paginate li.selected a{
    color: white;
  }
  /* =================For React Paginate Ends ======================= */
 